@model MVC.FootballSchedule

@{
    ViewBag.Title = "About Sooners Football";
}

<h2>About Sooners football.</h2>
<h3>About the University of Oklahoma Football program</h3>
<p>OU Football is coached by <b>Lincoln Riley.</b> The sooners have a bowl record of <b>29-22-1 (.567)</b> and have <b>7 (1950,1855, 1956, 1974, 1975, 1985, 2000)</b> in their history.</p>

