@{
    ViewBag.Title = "OU Football";
}

<div class="jumbotron">
    <h1>OU Football</h1>
    <p class="lead">The Oklahoma Sooners football program is a college football team that represents the University of Oklahoma. The team is a member of the Big 12 Conference, which is in Division I Football Bowl Subdivision of the National Collegiate Athletic Association.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>